# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Python
*.py[co]
*.egg*
.coverage

## Project
local_settings.py
public/static
public/media

## SQLite3
*.sqlite3

## OS
.DS_Store
._*
Thumbs.db
Desktop.ini

## Sphinx
build

## Logs
*.log

## Editors and IDEs
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.idea/
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
.buildpath
.project
.settings
.pydevproject
