{% load static %}
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="robots" content="noindex,nofollow">
    <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="mobile-web-app-capable" content="yes">
	  <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'img/icons/196icon.png' %}">
	  <link rel="shortcut icon" sizes="128x128" href="{% static 'img/icons/128icon.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'img/Large Icon.png' %}">

    <!-- Google CDN jQuery with a local fallback -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.11.2.min.js"><\/script>')</script>

    {% if debug %}
      <link rel="stylesheet/less" href="{% static 'less/app.less' %}">
      <script type="text/javascript" src="{% static 'js/libs/less.min.js' %}"></script>
    {% else %}
      {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/app.less' %}">
        <script type="text/javascript" src="{% static 'js/libs/less.min.js' %}"></script>
      {% endcompress %}
    {% endif %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <title>{% block page_title %}{{ _("Superbowl of Cereal") }}{% endblock %}</title>

  {% compress js %}
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/libs/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  {% endcompress %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block js %}{% endblock %}
</head>

<body>
{% block body %}

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Superbowl of Cereal</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse" style="max-height:380px;">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li><a href="/news/">News</a></li>
            <li><a href="/team/1/">My Team</a></li>
            <li><a href="/live-scores/">Live Scores</a></li>
            <li><a href="/live-scores/">Standings</a></li>
            <li><a href="/players/">Players</a></li>
            <li><a href="/settings/">Settings</a></li>
            {% if user.is_superuser %}
            <li><a href="/commish/">Commish</a></li>
            {% endif %}
            <li><a href="/logout/">Log Out</a></li>
            {% else %}
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container well">
    {% block content %}{% endblock %}
  </div>

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endblock %}
</body>
</html>
