{% extends 'base.html' %}
{% block content %}
<div id="TeamFunctions">
    <h3>Team Functions</h3>
    <a class="btn btn-success">Add Team</a>
    <a class="btn btn-danger">Remove Team</a>
    <h3>Player Functions</h3>
    <a href="/commish/update-players/" class="btn btn-success">Update Players</a>
    <h3>Fantasy Points Functions</h3>
    <a href="/commish/update-fantasy-points/" class="btn btn-success">Update Fantasy Pointss</a>
    <h3>Matchup Functions</h3>
    <a href="/commish/end-gameweek/" class="btn btn-primary">End Gameweek</a>
</div>
{% endblock %}
