{% extends 'base.html' %}


{% block content %}
    {% if stories and stories|length %}
        <div id="StoryContainer">
            {% for story in stories %}
                {% if forloop.first %}
                    <div id="MainStoryContainer"><a href="/story/{{ story.id }}/"><div id="MainStory" style='background-image: url("{{ story.image }}")'>
                        <h2 id="MainStoryCaption">{{ story.title }}</h2>
                    </div></a></div><div id="SideStoryContainer">
                {% else %}
                    <a href="/story/{{ story.id }}/"><div class="side_story" style="background: linear-gradient(to left, rgba(255, 255, 255, 0),rgba(100,100,100,1)), url('{{ story.image }}') no-repeat; background-size: contain; background-position: right;">{{ story.title }}</div></a>
                    {% if forloop.last %}</div>{% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
