{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<h1>Live Scores</h1>

<div id="MainGameHolder">
<div id="TeamNameHolder"><h4>Home - {{ team1score }}</h4><h4>Away - {{ team2score }}</h4></div>

    {% for p in starter_length %}
        <div class="live-score-row">
        {% with positions|key:p as home_player %}
        {% with positions2|key:p as away_player%}
    <div class="live-score-player">
        <div class="live-score-player-image-holder" style="float: left; background-image: url('http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ home_player.player_team }}.png'); background-size: cover; background-position: center;">
            <img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{% if home_player.esb_id %}{{ home_player.esb_id }}{% else %}{{ home_player.player_team }}{% endif %}.png"/>
        </div>
        <div class="live-score-player-score">
            {{ home_player.score }}
            <div class="live-score-summary">{% for s in home_player.score_summary %}<div>{{ s }}</div>{% endfor %}</div>
        </div>
        <div class="live-score-info-holder">
            <div style="width: 100%; display: inline-block;">{{ home_player.player_name }}</div>
        </div>
    </div>
    <div class="live-score-player" style="text-align: right;">
        <div class="live-score-player-score">
            {{ away_player.score }}
            <div class="live-score-summary">{% for s in away_player.score_summary %}<div>{{ s }}</div>{% endfor %}</div>
        </div>
        <div class="live-score-player-image-holder" style="float: right; background-image: url('http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ away_player.player_team }}.png'); background-size: cover; background-position: center;">
            <img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{% if away_player.esb_id %}{{ away_player.esb_id }}{% else %}{{ away_player.player_team }}{% endif %}.png"/>
        </div>
        <div class="live-score-info-holder">
            <div style="width: 100%; display: inline-block;">{{ away_player.player_name }}</div>
        </div>
  </div>
        {% endwith %}
        {% endwith %}
        </div>
    {% endfor %}
</div>
{% endblock %}
