{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block js %}
<script type="text/javascript" async src="{% static 'js/live_scores.js' %}"></script>
{% endblock %}
{% block content %}
<div>
    <h2 style="margin-top: 0px; display: inline-block;">Live Scores</h2>
    <span style="float: right;"><select class="selectpicker form-control" data-none-selected-text="">{% for w in weeks %}<option{% ifequal find_week w %} selected {% endifequal %}>Week {{ w }}</option>{% endfor %}</select></span>
</div>
    <div id="WeeksGamesHolder">
        {% for matchup in week_matchups %}
        <div class="week_matchup">
          <div class="matchup-team home"><div class="team-name">{{ matchup.home_team.team_name }}</div><div class="team-score"> - {{ matchup.home_score }}</div></div>
          <div class="matchup-team away"><div class="team-name">{{ matchup.away_team.team_name }}</div><div class="team-score"> - {{ matchup.away_score }}</div></div>
        </div>
        {% endfor %}
    </div>

<div id="MainGameHolder">
<div id="TeamNameHolder"><h4 style="width: 50%; display:inline-block"><span style="font-size: 0.8em;">{{ team_1.team_name }}</span><br>{{ team1score }}</h4><h4 style="width: 50%; display:inline-block; text-align: right;"><span style="font-size: 0.8em;">{{ team_2.team_name }}</span><br>{{ team2score }}</h4></div>
    {% for p in starter_length %}
        <div class="live-score-row">
        {% with positions|key:p as home_player %}
        {% with positions2|key:p as away_player%}
    <div class="live-score-player {{ home_player.live_status }}{% if home_player.opponent == 'Bye Week' %} bye-week{% endif %}{% if home_player.player_id == 'noplayer' %} empty{% endif %}{% if home_player.injury_status == 'Out' %} inactive{% endif %}{% if home_player.status == 'RES' %} injured-reserve{% endif %}">
        <div class="live-score-player-image-holder" style="float: left; background-image: url('{% if home_player.player_id != 'noplayer' %}http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ home_player.player_team }}.png{% else %}http://fantasy.nfl.com/static/img/nflLogo200x213_1389660237.png{% endif %}'); background-size: cover; background-position: center;">
            <img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{% if home_player.esb_id %}{{ home_player.esb_id }}{% else %}{{ home_player.player_team }}{% endif %}.png"/>
        </div>
        <div class="live-score-player-score">
            {{ home_player.score }}
            <div class="live-score-summary">{% for s in home_player.score_summary %}<div>{{ s }}</div>{% endfor %}</div>
        </div>
        <div class="live-score-info-holder">
            <div style="width: 100%; display: inline-block;">{{ home_player.player_name }}</div>
            <div class="player_status">{% if home_player.status == 'RES' %}Injured Reserve {% else %}{{ home_player.injury_status }}{% endif %}</div>
            <div {% if 'LIVE' in home_player.opponent %} class="opponent-string-live" {% endif %}style="font-size: 0.7em; color: #777;">{{ home_player.opponent }}</div>
        </div>
    </div>
    <div class="live-score-player {{ away_player.live_status }}{% if away_player.opponent == 'Bye Week' %} bye-week{% endif %}{% if away_player.player_id == 'noplayer' %} empty{% endif %}{% if away_player.injury_status == 'Out' %} inactive{% endif %}{% if away_player.status == 'RES' %} injured-reserve{% endif %}" style="text-align: right;">
        <div class="live-score-player-score">
            {{ away_player.score }}
            <div class="live-score-summary">{% for s in away_player.score_summary %}<div>{{ s }}</div>{% endfor %}</div>
        </div>
        <div class="live-score-player-image-holder" style="float: right; background-image: url('http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ away_player.player_team }}.png'); background-size: cover; background-position: center;">
            <img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{% if away_player.esb_id %}{{ away_player.esb_id }}{% else %}{{ away_player.player_team }}{% endif %}.png"/>
        </div>
        <div class="live-score-info-holder">
            <div style="width: 100%; display: inline-block;">{{ away_player.player_name }}</div>
            <div class="player_status">{% if away_player.status == 'RES' %}Injured Reserve {% else %}{{ away_player.injury_status }}{% endif %}</div>
            <div {% if 'LIVE' in away_player.opponent %} class="opponent-string-live" {% endif %}style="font-size: 0.7em; color: #777;">{{ away_player.opponent }}</div>
        </div>
  </div>
        {% endwith %}
        {% endwith %}
        </div>
    {% endfor %}
<hr style="border-top: 1px solid #000;">
{% for p in bench_length %}
        <div class="live-score-row">
        {% with bench|key:p as home_player %}
        {% with bench2|key:p as away_player%}
    <div class="live-score-player {{ home_player.live_status }}{% if home_player.opponent == 'Bye Week' %} bye-week{% endif %}{% if home_player.player_id == 'noplayer' %} empty{% endif %}{% if home_player.injury_status == 'Out' %} inactive{% endif %}{% if home_player.status == 'RES' %} injured-reserve{% endif %}">
        <div class="live-score-player-image-holder" style="float: left; background-image: url('{% if home_player.player_id != 'noplayer' %}http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ home_player.player_team }}.png{% else %}http://fantasy.nfl.com/static/img/nflLogo200x213_1389660237.png{% endif %}'); background-size: cover; background-position: center;">
            <img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{% if home_player.esb_id %}{{ home_player.esb_id }}{% else %}{{ home_player.player_team }}{% endif %}.png"/>
        </div>
        <div class="live-score-player-score">
            {{ home_player.score }}
            <div class="live-score-summary">{% for s in home_player.score_summary %}<div>{{ s }}</div>{% endfor %}</div>
        </div>
        <div class="live-score-info-holder">
            <div style="width: 100%; display: inline-block;">{{ home_player.player_name }}</div>
            <div class="player_status">{% if home_player.status == 'RES' %}Injured Reserve {% else %}{{ home_player.injury_status }}{% endif %}</div>
            <div {% if 'LIVE' in home_player.opponent %} class="opponent-string-live" {% endif %}style="font-size: 0.7em; color: #777;">{{ home_player.opponent }}</div>
        </div>
    </div>
    <div class="live-score-player {{ away_player.live_status }}{% if away_player.opponent == 'Bye Week' %} bye-week{% endif %}{% if away_player.player_id == 'noplayer' %} empty{% endif %}{% if away_player.injury_status == 'Out' %} inactive{% endif %}{% if away_player.status == 'RES' %} injured-reserve{% endif %}" style="text-align: right;">
        <div class="live-score-player-score">
            {{ away_player.score }}
            <div class="live-score-summary">{% for s in away_player.score_summary %}<div>{{ s }}</div>{% endfor %}</div>
        </div>
        <div class="live-score-player-image-holder" style="float: right; background-image: url('{% if away_player.player_id != 'noplayer' %}http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ away_player.player_team }}.png{% else %}http://fantasy.nfl.com/static/img/nflLogo200x213_1389660237.png{% endif %}'); background-size: cover; background-position: center;">
            <img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{% if away_player.esb_id %}{{ away_player.esb_id }}{% else %}{{ away_player.player_team }}{% endif %}.png"/>
        </div>
        <div class="live-score-info-holder">
            <div style="width: 100%; display: inline-block;">{{ away_player.player_name }}</div>
            <div class="player_status">{% if away_player.status == 'RES' %}Injured Reserve {% else %}{{ away_player.injury_status }}{% endif %}</div>
            <div {% if 'LIVE' in away_player.opponent %} class="opponent-string-live" {% endif %}style="font-size: 0.7em; color: #777;">{{ away_player.opponent }}</div>
        </div>
  </div>
        {% endwith %}
        {% endwith %}
        </div>
    {% endfor %}
</div>
{% endblock %}
