{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script type="text/javascript" async src="{% static 'js/player_list.js' %}"></script>
{% endblock %}
{% block css %}
    <style>
        .bootstrap-select {
            margin: 10px 0px;
        }
    </style>
{% endblock %}
{% block content %}
    <div><h3 style="margin-top:0px;">Filter:</h3>
        Team: <select class="selectpicker"><option>ARI</option><option>ATL</option><option>BAL</option><option>BUF</option><option>CAR</option><option>CHI</option></select>
        Position: <select class="selectpicker"><option>QB</option><option>RB</option><option>WR</option><option>TE</option><option>K</option><option>DEF</option></select>
        Status: <select id="status" class="selectpicker"><option>Free Agent</option></select></div>
    <table class="table table-striped">
        <thead><tr><th></th><th>Player</th><th>Points</th></tr></thead>
        <tbody>
        {% for scorer in player_list %}
        <tr>
            <td class="plist-add"><a href="/players/?add_player={{ scorer.player.ng_id }}"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button></a></td>
            <td class="plist-player"><a href="/player-info/{{ scorer.player.ng_id }}"><img class="plist-pteam" src="{% if scorer.player.team and scorer.player.team != 'UNK' %}http://i.nflcdn.com/static/site/7.4/img/logos/teams-gloss-81x54/{{ scorer.player.team|lower }}{% else %}http://fantasy.nfl.com/static/img/nflLogo40x27_1389660237{% endif %}.png"><div class="plist-pinfo"><div class="plist-pname">{{ scorer.player.name }}</div><div class="plist-ppos">{{ scorer.player.position }} - {% if scorer.player.team == 'UNK' %}FA{% else %}{{ scorer.player.team }}{% endif %}</div></div></a></td>
            <td>{{ scorer.total }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
