{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block js %}
<script type="text/javascript">
window.fl_starter = JSON.parse('{% autoescape off %}{{ starters_json }}{% endautoescape %}');
window.fl_bench = JSON.parse('{% autoescape off %}{{ bench_json }}{% endautoescape %}');
</script>
<script type="text/javascript" async src="{% static 'js/team_page.js' %}"></script>
{% endblock %}

{% block content %}
<h2 style="display: inline;">{{ team_name }}</h2><a id="saveTeam" class="btn btn-primary" style="float: right;">Save</a>
    <div id="team-id-hidden" style="display: none;" data-teamid="{{ team_id }}"></div>
    <div id="token-hidden" style="display: none;" data-teamid="{% csrf_token %}"></div>
<div style="height:20px;"></div>
<table id="PlayerTable">
  <thead>
    <tr>
      <th style="border-left: 1px solid black;" class="upper_header">Pos</th><th class="upper_header">Player</th>
      <th class="upper_header stat_column" colspan="3">Passing Stats</th>
      <th class="upper_header stat_column" colspan="3">Rushing Stats</th>
      <th class="upper_header stat_column" colspan="4">Receiving Stats</th>
      <th class="upper_header" colspan="2">Points</th>
    </tr>
    <tr class="stat_column">
      <th style="border-left: 1px solid black;"></th><th></th>
      <th class="stat_column">Attempts</th><th class="stat_column">Yards</th><th class="stat_column">TDs</th>
      <th class="stat_column">Rushes</th><th class="stat_column">Yards</th><th class="stat_column">TDs</th>
      <th class="stat_column">Targets</th><th class="stat_column">Receptions</th><th class="stat_column">Yards</th><th class="stat_column">TDs</th>
      <th class="stat_column">Proj.</th><th>Points</th>
    </tr>
  </thead>
  <tbody>
  {% for pos in positions %}
  {% if pos.position == "K" %}<tr>
      <th colspan="2" style="border-left: 1px solid black;">Kicker</th>
      <th class="stat_column">PATs Made</th><th class="stat_column">PATs Missed</th>
      <th class="stat_column">0-29 Made</th><th class="stat_column">30-39 Made</th><th class="stat_column">40-49 Made</th><th class="stat_column">50+ Made</th>
      <th class="stat_column">0-29 Missed</th><th class="stat_column">30-39 Missed</th><th class="stat_column">40-49 Missed</th><th class="stat_column">50+ Missed</th>
      <th class="stat_column">Proj.</th><th>Points</th></tr>

      <tr data-player-pos="{{ pos.player_position }}" class="{{ pos.position }} starting {% if pos.player_id == 'noplayer' %}empty{% else %}filled{% endif %}">
      <td class="team-position"><div class="position_index" style="display: none;" data-index="{{ forloop.counter0 }}"></div>
          <select class="selectpicker form-control"></select></td>
          <td class="player_name" style='background: url("http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ pos.player_team }}.png"); background-size: cover; background-position: center;'>{% ifnotequal pos.player_id 'noplayer' %}<a href="/player-info/{{ pos.player_id }}">{% endifnotequal %}<div class="player {{ pos.position }}"><div class="ui-widget-content {{ pos.player_position }}"><span>{{ pos.player_name }}</span>{% ifnotequal pos.player_id "noplayer" %}<br><span style="font-size: 0.6em;">{{ pos.player_position }} - ({{ pos.player_team }})</span>{% endifnotequal %}</div></div>{% ifnotequal pos.player_id 'noplayer' %}</a>{% endifnotequal %}</td>
      <td class="stat_column">{{ pos.rush.atts }}</td><td class="stat_column">{{ pos.rush.yards }}</td><td class="stat_column">{{ pos.rush.tds }}</td>
      <td class="stat_column">{{ pos.rec.recep }}</td><td class="stat_column">{{ pos.rec.yards }}</td><td class="stat_column">{{ pos.rec.tds }}</td>
      <td class="stat_column"></td><td class="stat_column"></td><td class="stat_column"></td>
      <td class="stat_column"></td><td class="stat_column">0.00</td><td>{{ pos.points }}</td></tr>
  {% elif pos.position == "DEF" %}<tr>
      <th style="border-left: 1px solid black;">Defence</th><th></th>
      <th class="stat_column"></th><th class="stat_column"></th><th class="stat_column"></th>
      <th class="stat_column"></th><th class="stat_column"></th><th class="stat_column"></th>
      <th class="stat_column"></th><th class="stat_column"></th><th class="stat_column"></th>
      <th class="stat_column"></th><th class="stat_column">Proj.</th><th>Points</th></tr>

    <tr data-player-pos="{{ pos.player_position }}" class="{{ pos.position }} starting {% if pos.player_id == 'noplayer' %}empty{% else %}filled{% endif %}">
      <td class="team-position"><div class="position_index" style="display: none;" data-index="{{ forloop.counter0 }}"></div>
          <select class="selectpicker form-control"></select></td>
        <td class="player_name" style='background: url("http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ pos.player_team }}.png"); background-size: cover; background-position: center;'>{% ifnotequal pos.player_id 'noplayer' %}<a href="/player-info/{{ pos.player_id }}">{% endifnotequal %}<div class="player {{ pos.position }}"><div class="ui-widget-content {{ pos.player_position }}"><span>{{ pos.player_name }}</span>{% ifnotequal pos.player_id "noplayer" %}<br><span style="font-size: 0.6em;">{{ pos.player_position }} - ({{ pos.player_team }})</span>{% endifnotequal %}</div></div>{% ifnotequal pos.player_id 'noplayer' %}</a>{% endifnotequal %}</td>
      <td class="stat_column">{{ pos.pass.atts }}</td><td class="stat_column">{{ pos.pass.yards }}</td><td class="stat_column">{{ pos.pass.tds }}</td>
      <td class="stat_column">{{ pos.rush.atts }}</td><td class="stat_column">{{ pos.rush.yards }}</td><td class="stat_column">{{ pos.rush.tds }}</td>
      <td class="stat_column">{{ pos.rec.recep }}</td><td class="stat_column">{{ pos.rec.yards }}</td><td class="stat_column">{{ pos.rec.tds }}</td>
      <td class="stat_column"></td><td class="stat_column">0.00</td><td>{{ pos.points }}</td></tr>
  {% else %}
    <tr data-player-pos="{{ pos.player_position }}" class="{{ pos.position }} starting {% if pos.player_id == 'noplayer' %}empty{% else %}filled{% endif %}">
      <td class="team-position"><div class="position_index" style="display: none;" data-index="{{ forloop.counter0 }}"></div>
        <select class="selectpicker form-control"></select></td>
      <td class="player_name" style='background: url("http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ pos.player_team }}.png"); background-size: cover; background-position: center;'>{% ifnotequal pos.player_id 'noplayer' %}<a href="/player-info/{{ pos.player_id }}">{% endifnotequal %}<div class="player {{ pos.position }}"><div class="ui-widget-content {{ pos.player_position }}"><span>{{ pos.player_name }}</span>{% ifnotequal pos.player_id "noplayer" %}<br><span style="font-size: 0.6em;">{{ pos.player_position }} - ({{ pos.player_team }})</span>{% endifnotequal %}</div></div>{% ifnotequal pos.player_id 'noplayer' %}</a>{% endifnotequal %}</td>
      <td class="stat_column">{{ pos.pass.atts }}</td><td class="stat_column">{{ pos.pass.yards }}</td><td class="stat_column">{{ pos.pass.tds }}</td>
      <td class="stat_column">{{ pos.rush.atts }}</td><td class="stat_column">{{ pos.rush.yards }}</td><td class="stat_column">{{ pos.rush.tds }}</td>
      <td class="stat_column">{{ pos.rec.tar }}</td><td class="stat_column">{{ pos.rec.recep }}</td><td class="stat_column">{{ pos.rec.yards }}</td><td class="stat_column">{{ pos.rec.tds }}</td>
      <td class="stat_column">0.00</td><td>{{ pos.points }}</td></tr>
  {% endif %}
  {% endfor %}
  <tr class="bench_divider"><td colspan="14">Bench</td></tr>
  {% for ben in bench %}
    <tr data-player-pos="{{ ben.player_position }}" class="bench {% if ben.player_id == 'noplayer' %}empty{% else %}filled{% endif %}{% if forloop.first %} first-bench{% endif %}">
      <td class="team-position"><div class="position_index" style="display: none;" data-index="{{ forloop.counter0|add:"12" }}"></div>
          <select class="selectpicker form-control"></select>
      </td><td class="player_name" style='background: url("http://s.nflcdn.com/static/content/public/static/img/fantasy/player-card/headshot-logo-bg/{{ ben.player_team }}.png"); background-size: cover; background-position: center;'>{% ifnotequal pos.player_id 'noplayer' %}<a href="/player-info/{{ ben.player_id }}"><div class="player {{ ben.position }}">{% endifnotequal %}<div class="ui-widget-content {{ ben.player_position }}"><span>{{ ben.player_name }}</span>{% if ben.player_id != 'noplayer' %}<br><span style="font-size: 0.6em;">{{ ben.player_position }} - ({{ ben.player_team }})</span>{% endif %}</div></div>{% ifnotequal pos.player_id 'noplayer' %}</a>{% endifnotequal %}</td>
      <td class="stat_column">{{ ben.pass.atts }}</td><td class="stat_column">{{ ben.pass.yards }}</td><td class="stat_column">{{ ben.pass.tds }}</td>
      <td class="stat_column">{{ ben.rush.atts }}</td><td class="stat_column">{{ ben.rush.yards }}</td><td class="stat_column">{{ ben.rush.tds }}</td>
      <td class="stat_column">{{ ben.rec.tar }}</td><td class="stat_column">{{ ben.rec.recep }}</td><td class="stat_column">{{ ben.rec.yards }}</td><td class="stat_column">{{ ben.rec.tds }}</td>
      <td class="stat_column">0.00</td><td>{{ ben.points }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
